* {
  margin: 0;
  padding: 00;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
}
body {
  min-height: 100dvh;
  background-color: rgb(204, 201, 201);
}
.body-index {
  display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Asegura que ocupe toda la pantalla */
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  padding: 0 0.4rem;
  font-style: bold;
  font-weight: 700;
}

h2 {
  margin: 15px 0;
  margin-left: 3px;
}
main,
ul {
  margin-left: 30px;
  margin-bottom: 10px;
}

input,
select {
  outline: none;
  padding: 5px;
  border: 1.5px solid #777;
  border-radius: 5px;
  font-size: 1rem;
}
select {
  background-color: transparent;
}
ul {
  list-style: none;
}
.form-container {
  text-align: center;
  align-content: center;
}
form {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
  width: 400px;
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.box {
  background-color: #6af5ff;
  padding: 40px;
  width: 300px;
  border-radius: 20px;
  box-shadow: 3px 1px 20px -2px rgba(0, 0, 0, 0.44);
  -webkit-box-shadow: 3px 1px 20px -2px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 3px 1px 20px -2px rgba(0, 0, 0, 0.44);
}

img {
  width: 200px;
  height: 200px !important;
  object-fit: cover;
}

.btn {
  width: 100px;
  border-radius: 5px;
  border: 1.3px solid #3c8339;
  color: white;
  background-color: #2e3c8f;
  padding: 5px;
  font-size: 1rem;
  cursor: pointer;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.jugador-card {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  width: 200px;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  display: inline-block;
  vertical-align: top;
}
.message {
  color: rgb(245, 18, 10);
  margin-top: 10px;
}
.form-container {
  margin: 20px;
}


